<div class="card">
    <div class="card-header">
        <h5>Create New Booking</h5>
    </div>
    <div class="card-body">
        <form>
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">ID</label>
                    <input type="number" [(ngModel)]="booking.id" name="ID" class="form-control">
                </div>
        
                <div class="col">
                    <label class="form-label">Roomnumber</label>
                    <input type="number"  class="form-control" [(ngModel)]="booking.roomnumber" name="roomnumber">
                </div>
                
            </div>
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">Guestname</label>
                    <input type="text"  class="form-control"[(ngModel)]="booking.name" name="name">
                </div>
              
            </div>
        
            <div class="row mb-2">
                <div class="col">
                    <label class="form-label">Start Date</label>
                    <input type="date" class="form-control" [(ngModel)]="booking.startDate" name="startDate">
                </div>
                <div class="col">
                    <label class="form-label">End Date</label>
                    <input type="date" class="form-control" [(ngModel)]="booking.endDate" name="endDate">
                </div>
        
            </div>
          </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">submit</button>
    </div>
</div>

